.thankyou-container{
     padding: 10vw 10vw;
     background-color: rgb(26, 24, 24);
     color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
}
 
.thankyou-image{
    margin-top: 40px;
    width: 500px;
    height: 300px;
    @media screen and (max-width: 600px){
        margin-top: 130px;
        width: 300px;
        height: 200px;
    }
}
.thankyou-container h1 {
    font-size: 25px; 
    margin-top: 40px;
    /* margin: 5px 0;  */
    @media screen and (max-width: 600px){
        font-size: 1.5rem; /* Adjust font size for better readability */
    }
}

 
.thankyou-container p {
    font-size: 1.4rem; 
    line-height: 1.4rem;
    margin: 5px 0; 
    @media screen and (max-width: 600px){
        font-size: 1rem; /* Adjust font size for better readability */
    }
}
.btn{
    background-color: blue;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 2px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer; /* Indicate it's clickable */
    transition: background-color 0.3s ease; /* Smooth hover effect */
    @media screen and (max-width: 600px){
        padding:5px 25px; /* Adjust button size */
    height: 40px;
    font-size: 15px;
    }
}
.btn:hover{
    background-color: rgba(6, 6, 182, 0.753);
}

